n8n-workflows/S1-new-job.json
{
  "name": "S1: New Job (Sheet → Supabase)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "seconds", "secondsInterval": 30 }]
        }
      },
      "id": "s1-trigger",
      "name": "Every 30s",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-880, 112]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1qQ69Oxl-2Tjf0r8Ox4NhZnv1MlPOebs2eNpgf5Ywk78",
          "mode": "list",
          "cachedResultName": "Video Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qQ69Oxl-2Tjf0r8Ox4NhZnv1MlPOebs2eNpgf5Ywk78/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 645720058,
          "mode": "list",
          "cachedResultName": "Jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qQ69Oxl-2Tjf0r8Ox4NhZnv1MlPOebs2eNpgf5Ywk78/edit#gid=645720058"
        },
        "options": {}
      },
      "id": "s1-read",
      "name": "Read Jobs Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-656, 112],
      "credentials": {
        "googleApi": {
          "id": "AIqzMYUXoQjud7IW",
          "name": "Flemingo service acc"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-idea-seed",
              "leftValue": "={{ $json['Idea Seed'] }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "id": "no-job-id",
              "leftValue": "={{ $json['Job ID'] }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "empty" }
            },
            {
              "id": "has-brand",
              "leftValue": "={{ $json['Brand'] }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "s1-filter",
      "name": "Filter New Jobs",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [-448, 112]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "valid-brand",
              "leftValue": "={{ $json['Brand'] }}",
              "rightValue": "nordpilates,ketoway,carnimeat,nodiet,highdiet",
              "operator": { "type": "string", "operation": "contains" }
            }
          ]
        },
        "options": {}
      },
      "id": "s1-validate",
      "name": "Validate Brand",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-224, 112]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/jobs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"brand_id\": \"{{ $json['Brand'] }}\",\n  \"idea_seed\": \"{{ $json['Idea Seed'] }}\",\n  \"status\": \"idea_seed\"\n}",
        "options": {}
      },
      "id": "s1-create",
      "name": "Create Job in Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "l66cV4Gj1L3T6MjJ",
          "name": "Strapi API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://95.216.137.35:3000/enqueue",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"queue\": \"planning\",\n  \"jobId\": \"{{ $json.id ?? $json[0].id }}\"\n}",
        "options": {}
      },
      "id": "s1-enqueue",
      "name": "Enqueue to BullMQ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [224, 0]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1qQ69Oxl-2Tjf0r8Ox4NhZnv1MlPOebs2eNpgf5Ywk78",
          "mode": "list",
          "cachedResultName": "Video Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qQ69Oxl-2Tjf0r8Ox4NhZnv1MlPOebs2eNpgf5Ywk78/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 645720058,
          "mode": "list",
          "cachedResultName": "Jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qQ69Oxl-2Tjf0r8Ox4NhZnv1MlPOebs2eNpgf5Ywk78/edit#gid=645720058"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Row Status": "OK",
            "Job ID": "={{ $('Create Job in Supabase').item.json.id ?? $('Create Job in Supabase').item.json[0].id }}",
            "Status": "idea_seed"
          }
        },
        "options": { "cellFormat": "USER_ENTERED" }
      },
      "id": "s1-write-ok",
      "name": "Write Job ID to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [448, 0],
      "credentials": {
        "googleApi": {
          "id": "AIqzMYUXoQjud7IW",
          "name": "Flemingo service acc"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1qQ69Oxl-2Tjf0r8Ox4NhZnv1MlPOebs2eNpgf5Ywk78",
          "mode": "list",
          "cachedResultName": "Video Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qQ69Oxl-2Tjf0r8Ox4NhZnv1MlPOebs2eNpgf5Ywk78/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 645720058,
          "mode": "list",
          "cachedResultName": "Jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qQ69Oxl-2Tjf0r8Ox4NhZnv1MlPOebs2eNpgf5Ywk78/edit#gid=645720058"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Row Status": "ERROR: Invalid brand"
          }
        },
        "options": { "cellFormat": "USER_ENTERED" }
      },
      "id": "s1-write-error",
      "name": "Write Error to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [0, 240],
      "credentials": {
        "googleApi": {
          "id": "AIqzMYUXoQjud7IW",
          "name": "Flemingo service acc"
        }
      }
    }
  ],
  "connections": {
    "Every 30s": { "main": [[{ "node": "Read Jobs Sheet", "type": "main", "index": 0 }]] },
    "Read Jobs Sheet": { "main": [[{ "node": "Filter New Jobs", "type": "main", "index": 0 }]] },
    "Filter New Jobs": { "main": [[{ "node": "Validate Brand", "type": "main", "index": 0 }]] },
    "Validate Brand": {
      "main": [
        [{ "node": "Create Job in Supabase", "type": "main", "index": 0 }],
        [{ "node": "Write Error to Sheet", "type": "main", "index": 0 }]
      ]
    },
    "Create Job in Supabase": { "main": [[{ "node": "Enqueue to BullMQ", "type": "main", "index": 0 }]] },
    "Enqueue to BullMQ": { "main": [[{ "node": "Write Job ID to Sheet", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true }
}
