n8n-workflows/S7-music-ingest.json
{
  "name": "S7: Music Ingest (Drive → VPS → R2 → Supabase → Sheet)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "id": "s7-trigger",
      "name": "Every 5min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-880, 112]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1s2vUnIoJUt7rltSRlJeY9uqQyQ5_Lzso",
          "mode": "id"
        },
        "options": {}
      },
      "id": "s7-download",
      "name": "Download Folder Files",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-656, 112],
      "credentials": {
        "googleApi": {
          "id": "AIqzMYUXoQjud7IW",
          "name": "Flemingo service acc"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build metadata from filename\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const name = item.json.name || Object.keys(item.binary || {})[0] || 'unknown.mp3';\n  const sanitized = name.replace(/[^a-zA-Z0-9._-]/g, '_');\n  const title = name.replace(/\\.[^.]+$/, '').replace(/[-_]/g, ' ').replace(/\\s*\\(.*?\\)\\s*/g, '').replace(/\\s*\\[.*?\\]\\s*/g, '').trim();\n\n  results.push({\n    json: {\n      driveFileId: item.json.id || '',\n      driveName: name,\n      sanitizedName: sanitized,\n      title: title\n    },\n    binary: item.binary\n  });\n}\n\nreturn results;"
      },
      "id": "s7-prep",
      "name": "Prep Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-432, 112]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://95.216.137.35:3000/music-ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-track-meta",
              "value": "={{ JSON.stringify({ filename: $json.sanitizedName, title: $json.title }) }}"
            },
            {
              "name": "Content-Type",
              "value": "application/octet-stream"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $binary.data }}",
        "options": { "timeout": 120000 }
      },
      "id": "s7-send-vps",
      "name": "Send to VPS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-208, 112]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1qQ69Oxl-2Tjf0r8Ox4NhZnv1MlPOebs2eNpgf5Ywk78",
          "mode": "list",
          "cachedResultName": "Video Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qQ69Oxl-2Tjf0r8Ox4NhZnv1MlPOebs2eNpgf5Ywk78/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Music Library",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Row Status": "OK",
            "Track ID": "={{ $json.track_id }}",
            "Title": "={{ $json.title }}",
            "Artist": "={{ $json.artist }}",
            "R2 Key": "={{ $json.r2_key }}",
            "Duration (s)": "={{ $json.duration_seconds }}",
            "Tempo BPM": "={{ $json.tempo_bpm }}"
          },
          "matchingColumns": ["Title"]
        },
        "options": { "cellFormat": "USER_ENTERED" }
      },
      "id": "s7-write-sheet",
      "name": "Write to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [16, 112],
      "credentials": {
        "googleApi": {
          "id": "AIqzMYUXoQjud7IW",
          "name": "Flemingo service acc"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Prep Metadata').item.json.driveFileId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "1RtBDaSxM45TT2B7ATvQGXvnY5HB1nWGw",
          "mode": "id"
        }
      },
      "id": "s7-move",
      "name": "Move to Processed",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [240, 112],
      "credentials": {
        "googleApi": {
          "id": "AIqzMYUXoQjud7IW",
          "name": "Flemingo service acc"
        }
      }
    }
  ],
  "connections": {
    "Every 5min": { "main": [[{ "node": "Download Folder Files", "type": "main", "index": 0 }]] },
    "Download Folder Files": { "main": [[{ "node": "Prep Metadata", "type": "main", "index": 0 }]] },
    "Prep Metadata": { "main": [[{ "node": "Send to VPS", "type": "main", "index": 0 }]] },
    "Send to VPS": { "main": [[{ "node": "Write to Sheet", "type": "main", "index": 0 }]] },
    "Write to Sheet": { "main": [[{ "node": "Move to Processed", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true }
}
