n8n-workflows/S7-music-ingest.json
{
  "name": "S7: Music Ingest (Drive → VPS → R2 → Supabase → Sheet)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "id": "s7-trigger",
      "name": "Every 5min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1100, 112]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1qQ69Oxl-2Tjf0r8Ox4NhZnv1MlPOebs2eNpgf5Ywk78",
          "mode": "list",
          "cachedResultName": "Video Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qQ69Oxl-2Tjf0r8Ox4NhZnv1MlPOebs2eNpgf5Ywk78/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Music Library",
          "mode": "name"
        },
        "options": {}
      },
      "id": "s7-read-sheet",
      "name": "Read Music Library",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-880, 0],
      "credentials": {
        "googleApi": {
          "id": "AIqzMYUXoQjud7IW",
          "name": "Flemingo service acc"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "='{{ $env.MUSIC_UPLOADS_FOLDER_ID }}' in parents and trashed=false and (mimeType contains 'audio/')" },
            { "name": "fields", "value": "files(id,name,mimeType,size)" },
            { "name": "pageSize", "value": "100" }
          ]
        },
        "options": {}
      },
      "id": "s7-list-drive",
      "name": "List Drive Music Folder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-880, 224],
      "credentials": {
        "googleApi": {
          "id": "AIqzMYUXoQjud7IW",
          "name": "Flemingo service acc"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Match Drive files to Sheet rows, find files not yet processed\nconst sheetRows = $('Read Music Library').all();\nconst driveResponse = $('List Drive Music Folder').first().json;\nconst driveFiles = driveResponse.files || [];\n\n// R2 keys already in the sheet = already processed\nconst processedR2Keys = new Set();\nfor (const row of sheetRows) {\n  if (row.json['Track ID']) {\n    processedR2Keys.add(row.json['R2 Key'] || '');\n  }\n}\n\nconst newFiles = [];\nfor (const file of driveFiles) {\n  const sanitized = file.name.replace(/[^a-zA-Z0-9._-]/g, '_');\n  const r2Key = `music/${sanitized}`;\n\n  if (processedR2Keys.has(r2Key)) continue;\n\n  // Find matching sheet row by title (worker may have pre-filled metadata)\n  const matchRow = sheetRows.find(r => {\n    const t = (r.json['Title'] || '').toLowerCase().trim();\n    const fname = file.name.toLowerCase();\n    return t && (fname.includes(t) || t.includes(fname.replace(/\\.[^.]+$/, '').substring(0, 15)));\n  });\n\n  newFiles.push({\n    json: {\n      driveFileId: file.id,\n      driveName: file.name,\n      sanitizedName: sanitized,\n      title: matchRow?.json['Title'] || '',\n      artist: matchRow?.json['Artist'] || '',\n      mood: matchRow?.json['Mood'] || '',\n      genre: matchRow?.json['Genre'] || '',\n      energy_level: matchRow?.json['Energy Level'] || '',\n      license_source: matchRow?.json['License Source'] || 'custom'\n    }\n  });\n}\n\nif (newFiles.length === 0) {\n  return [{ json: { _skip: true } }];\n}\n\nreturn newFiles;"
      },
      "id": "s7-match",
      "name": "Match New Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-656, 112]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ]
        },
        "options": {}
      },
      "id": "s7-has-new",
      "name": "Has New Files?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-448, 112]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.driveFileId }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "s7-download",
      "name": "Download from Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-224, 0],
      "credentials": {
        "googleApi": {
          "id": "AIqzMYUXoQjud7IW",
          "name": "Flemingo service acc"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://95.216.137.35:3000/music-ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-track-meta",
              "value": "={{ JSON.stringify({ filename: $('Match New Files').item.json.sanitizedName, title: $('Match New Files').item.json.title, artist: $('Match New Files').item.json.artist, mood: $('Match New Files').item.json.mood, genre: $('Match New Files').item.json.genre, energy_level: Number($('Match New Files').item.json.energy_level) || 5, license_source: $('Match New Files').item.json.license_source }) }}"
            },
            {
              "name": "Content-Type",
              "value": "application/octet-stream"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $binary.data }}",
        "options": { "timeout": 120000 }
      },
      "id": "s7-send-vps",
      "name": "Send to VPS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1qQ69Oxl-2Tjf0r8Ox4NhZnv1MlPOebs2eNpgf5Ywk78",
          "mode": "list",
          "cachedResultName": "Video Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qQ69Oxl-2Tjf0r8Ox4NhZnv1MlPOebs2eNpgf5Ywk78/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Music Library",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Row Status": "OK",
            "Track ID": "={{ $json.track_id }}",
            "Title": "={{ $json.title }}",
            "Artist": "={{ $json.artist }}",
            "R2 Key": "={{ $json.r2_key }}",
            "Duration (s)": "={{ $json.duration_seconds }}",
            "Tempo BPM": "={{ $json.tempo_bpm }}"
          },
          "matchingColumns": ["Title"]
        },
        "options": { "cellFormat": "USER_ENTERED" }
      },
      "id": "s7-write-sheet",
      "name": "Write to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [224, 0],
      "credentials": {
        "googleApi": {
          "id": "AIqzMYUXoQjud7IW",
          "name": "Flemingo service acc"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Match New Files').item.json.driveFileId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "={{ $env.MUSIC_PROCESSED_FOLDER_ID }}",
          "mode": "id"
        }
      },
      "id": "s7-move",
      "name": "Move to Processed",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [448, 0],
      "credentials": {
        "googleApi": {
          "id": "AIqzMYUXoQjud7IW",
          "name": "Flemingo service acc"
        }
      }
    }
  ],
  "connections": {
    "Every 5min": {
      "main": [
        [
          { "node": "Read Music Library", "type": "main", "index": 0 },
          { "node": "List Drive Music Folder", "type": "main", "index": 0 }
        ]
      ]
    },
    "Read Music Library": { "main": [[{ "node": "Match New Files", "type": "main", "index": 0 }]] },
    "List Drive Music Folder": { "main": [[{ "node": "Match New Files", "type": "main", "index": 0 }]] },
    "Match New Files": { "main": [[{ "node": "Has New Files?", "type": "main", "index": 0 }]] },
    "Has New Files?": {
      "main": [
        [{ "node": "Download from Drive", "type": "main", "index": 0 }],
        []
      ]
    },
    "Download from Drive": { "main": [[{ "node": "Send to VPS", "type": "main", "index": 0 }]] },
    "Send to VPS": { "main": [[{ "node": "Write to Sheet", "type": "main", "index": 0 }]] },
    "Write to Sheet": { "main": [[{ "node": "Move to Processed", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true }
}
